* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.hako {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step{
  color:white;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.syasin0 {
  height: 150px;
}

.syasin1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}

.syasin2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
}

.syasin3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
}
